<!--<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-9 body-content'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>-->
<app-nav-menu></app-nav-menu>
<router-outlet></router-outlet>
<!--<nav class="nav-container nav-blue">
  <ul class="nav nav-item nav-left">
    <li><a href="#">Company Name</a></li>
  </ul>
  <ul class="nav nav-right"> 
        
    <li><a href="#">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>

<style>
  .nav {
    list-style: none
  }

  .nav-container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
  }

  ul.nav-right {
    display: flex;
    flex-direction: row;
  }

  ul.nav-right li:nth-child(odd)  {
    align-items :  flex-end
  }
  ul.nav-right li:nth-child(even)  {
    align-items :  flex-start
  }

  .nav-container {
    line-height: 10vh;
  }

  * {
    margin:none
  }
</style>-->
