<div fxLayout="row">
  <app-autocomplete (answerChanged)="citySelected($event)" [searchTerm]="cityToSearch" fxFlex="50" fxFlexOffset="25" class="example-full-width"></app-autocomplete>
</div>
<div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>

<div fxLayout="row" *ngIf="currentWeather$ | async">
  <mat-card fxFlex="50" fxFlexOffset="25">
    <mat-card-content>
      <app-current-weather></app-current-weather>
      <app-forecust></app-forecust>
    </mat-card-content>
  </mat-card>
</div>
