<mat-form-field appearance="outline" fxLayout="column" [ngClass]="readOnly ? 'readOnly' : ''">
  <mat-label>{{placeHolder}}</mat-label>
  <input type="text" [matTooltip]="placeHolder" matInput [matAutocomplete]="auto"
         [formControl]="lookupCtrl"
         (change)="handleEmptyInput($event)">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-option *ngIf="isLoading" class="is-loading">
      טעינה...
    </mat-option>
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let option of filteredItems" [value]="option.key" (onSelectionChange)="optionSelectionChange(option, $event)">
        <span><b>{{option.LocalizedName}}</b></span> - {{option.Country.LocalizedName}}
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>
